.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #404040;
    color: #000;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}
.navbar-brand {
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, navbar-inverse .navbar-nav .active a:hover {
    color: #000;
    background-color: #404040;
}
.navbar-inverse .navbar-nav li a {
    color: #D5D5D5;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
.btn {
    font-size: 18px;
    color: #F05300;
    padding: 12px 22px;
    background: #404040;
    border: 2px solid #000;
}
.container {
    margin: 4% auto;
}
#icon {
    max-width: 350px;
    margin: 1% auto;
}
footer {
    width: 100%;
    background: #404040;
    padding: 5%;
    color: #FFF;
}
.fab {
    padding: 20px;
    font-size: 30px;
    color: #F05300;
}
.fab:hover {
    color: #404040;
    text-decoration: none;
}
@font-face {
    font-family: burbank;
    src: url(Burbank.otf);
}
* {
    font-family: burbank;
}
@media (max-width: 900px) {
    .fab {
        font-size: 20px;
        padding: 10px;
    }
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
  #icon {
      max-width: 150px;
  }  
  h2 {
      font-size: 2.0em;
  }
}