@font-face {
    font-family: Burbank;
    src: url("../assets/fonts/Burbank.otf");
}
@font-face {
    font-family: Ethnocentric;
    src: url("../assets/fonts/Ethnocentric.ttf");
}
@font-face {
    font-family: TTSquares;
    src: url("../assets/fonts/TT Squares Condensed Bold.otf");
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #404040;
    color: #FFF;
    padding: 1% 0;
    font-size: 1.6em;
    border: 2px solid #000;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.navbar-brand { /* /AugmentEcho logo */
    min-height: 55px;
    padding: 0 15px 5px;
}
.navbar-brand img {
    max-width: 100%;
    height: auto;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: #F05300;
    background: none;
}
.navbar-inverse .navbar-nav li a {
    color: #D5D5D5;
    background: none;
}
.carousel {
    border: 2px solid #000;
}
.carousel-inner {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    border-left: #000 solid 2px;
    border-right: #000 solid 2px;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
.carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 5px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: #FFF solid 1px;
    border-radius: 10%;
    background-color: rgba(255, 0, 0, 0);
    list-style-type: square;
}
.carousel-indicators .active {
    width: 20px;
    height: 7px;
    margin: 10px;
    background-color: #F05300;
    border: #000 solid 1px;
}
.btn {
    font-size: 50px;
    color: #F05300;
    padding: 12px 22px;
    background: #404040;
    border: 2px solid #000;
    position: relative;
    top: -200px;
}
button:hover, input.button:hover, a.button:hover, input[type="submit"]:hover {
    background:#F05300;
    border-color:#000;
}
div font {
    font-size: inherit;
}
.videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
    max-width: 1280px;
    float: none;
    clear: both;
    margin: 0 auto;
	padding-bottom: 56.25%; /* 16:9 -- This allows the correct responsive size for the video but also adds a large blank area at the bottom... */
}
.videoWrapper iframe {
    position: absolute;
	width: 100%;
    height: 100%;
    max-width: 1280px;
    max-height: 720px;
    border: #000 solid 4px;
}
#twitch-embed,
#twitch-embed-title {
    display: none;
}
.container { /* text paragraphs */
    margin: auto;
}
.twitter-wrapper {
    overflow-y: scroll;
    height: 100rem;
    margin-bottom: 3rem
}
#icon {
    max-width: 350px;
    margin: 5% auto;
}
body {
    background: #404040;
    /* background-image: url(img/Slate.png);
    background-repeat: no-repeat; */
    color: #FFF;
}
p {
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-size: 5.0em;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
h6 {
    font-family: Burbank;
    font-size: 5.0em;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
h5 {
    font-family: TTSquares;
    font-size: 5.0em;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
h3 {
    font-size: 4.0em;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
h4 {
    font-size: 2.0em;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
footer {
    width: 100%;
    background: #404040;
    padding: 2%;
    color: #FFF;
    border: 2px solid #000;
}
.fab {
    padding: 15px;
    font-size: 50px;
    color: #F05300;
}
.fab:hover {
    color: #FFF;
    text-decoration: none;
}
* {
    font-family: TTSquares, sans-serif;
}
@media (max-width:991px) {
    .align-text-center {
        text-align: center;
    }
}
@media (max-width: 900px) {
    .fab {
        font-size: 30px;
        padding: 10px;
    }
    .align-text-center {
        text-align: center;
    }
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
    #icon {
        max-width: 250px;
    }
    h2 {
        font-size: 5.0em;
    }
    h3 {
        font-size: 4.0em;
    }
    .align-text-center {
        text-align: center;
    }
    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 2.5px;
        margin: 5px;
        text-indent: 0;
        cursor: pointer;
        border: #FFF solid 1px;
        border-radius: 10%;
        background-color: rgba(255, 0, 0, 0);
        list-style-type: square;
    }
    .carousel-indicators .active {
        width: 10px;
        height: 3.5px;
        margin: 5px;
        background-color: #F05300;
        border: #F05300 solid 1px;
    }
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

#twitch-clip-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.carousel-indicators {
    bottom: 50px;
}

.carousel-indicators > li, .carousel-indicators > li.active {
    border-radius: 5px;
    height: 10px;
}
